@font-face {
  font-family: ДУРИК;
  src: url('./font/ДУРИК.ttf');
}


body {
  margin: 0;
  font-family: 'ДУРИК';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
